<!DOCTYPE html>
<html lang="en">
<head>
    <title>uoMusic</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Barra de Navegación superior -->
{% extends "layout.twig" %}
{% block title %} Detalles de la cancion {% endblock %}
{% block main_container %}
    <div class="row">
        <div class="media-col-xs-10">
            <div class="media-left media-middle">
                <img class="media-object" src="/covers/{{ song._id}}.png">
            </div>
            <div class="media-body">
                <h2>{{  song.title }}</h2>
                <p>{{  song.author }}</p>
                <p>{{  song.kind }}</p>
                <button type="button" class="btn btn-primary pull-right">{{  song.price}} €</button>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
